.healcode-pricing-option-text-link,
.healcode-contract-text-link {
  color: #fff;
}

div.healcode div.hc_footer {
  display: none !important;
}

div.list_view li.odd {
  background: inherit !important;
}

.week_links > span a {
  background: #fff !important;
  font-size: 11px !important;
}

.healcode-description-area {
    font-weight: 300;
    line-height: 1.25;
}
