.about--content {
  display: flex;

  > div {
    flex: 1;
  }

  &-wrapper {
    padding: 0 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
